@charset "UTF-8";

/* Healthiness App */


/*
=========================
	Colour Palette
=========================

	Green				#539d3c
	Red					#b52a1e
	Gold				#ffc23d
	Dark Purple			#470d43
	Mid Blue			#0b55a8
	Light Blue			#a6d0ff
	Dark Blue			#002158
	Dark Grey			#312b39
	Purple				#880088
	Mid Grey Blue		#929fb0
	Light Grey Blue		#e7eff7
	Orange				#CF6041

*/

.colour0 {color:#000 !important;} /* black */
.colour1 {color:#539d3c !important;} /* green */
.colour2 {color:#b52a1e !important;} /* red */
.colour3 {color:#ffc23d !important;} /* gold */
.colour4 {color:#470d43 !important;} /* dark purple */
.colour5 {color:#0b55a8 !important;} /* mid blue */
.colour6 {color:#a6d0ff !important;} /* light blue */
.colour7 {color:#002158 !important;} /* dark blue */
.colour8 {color:#312b39 !important;} /* dark grey */
.colour9 {color:#880088 !important;} /* purple */
.colour10 {color:#929fb0 !important;} /* mid grey blue */
.colour11 {color:#e7eff7 !important;} /* light grey blue */
.colour12 {color:#cf6041 !important;} /* orange */

.bg-colour0 {background-color:#000 !important;} /* black */
.bg-colour1 {background-color:#539d3c !important;} /* green */
.bg-colour2 {background-color:#b52a1e !important;} /* red */
.bg-colour3 {background-color:#ffc23d !important;} /* gold */
.bg-colour4 {background-color:#470d43 !important;} /* dark purple */
.bg-colour5 {background-color:#0b55a8 !important;} /* mid blue */
.bg-colour6 {background-color:#a6d0ff !important;} /* light blue */
.bg-colour7 {background-color:#002158 !important;} /* dark blue */
.bg-colour8 {background-color:#312b39 !important;} /* dark grey */
.bg-colour9 {background-color:#880088 !important;} /* purple */
.bg-colour10 {background-color:#929fb0 !important;} /* mid grey blue */
.bg-colour11 {background-color:#e7eff7 !important;} /* light grey blue */
.bg-colour12 {background-color:#cf6041 !important;} /* orange */



/*
=========================
	Resets
=========================
*/


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, div.page-title, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ul, ul li {
	list-style:none;
	list-style-type:none;
}







/*
=========================
	General
=========================
*/

/* clear */

.ou-grid:before, .ou-grid:after {
	content: "";
	display: table;
}

.ou-grid:after {clear:both;}

.ou-grid {zoom: 1;}

#ou-header:before, div#ou-header:after,
#ou-site:before, div#ou-site:after,
#ou-site-body:before, div#ou-site-body:after,
#ou-site-header:before, #ou-site-header:after,
#ou-site-footer:before, #ou-site-footer:after,
.ou-footer:before, div.ou-footer:after {
	content: "";
	display: table;
}

#ou-header:after,
#ou-site:after,
#ou-site-body:after,
#ou-site-header:after,
#ou-site-footer:after,
.ou-footer:after {
	clear:both;
}


/* ie 6/7 */

#ou-header,
#ou-site,
#ou-site-body,
#ou-site-header,
#ou-site-footer,
.ou-footer
{
	zoom: 1;
}


/* layout */

#ou-site-body {
	max-width:1180px;
	margin:0 auto;
	margin-bottom:30px;
}

#ou-region1 {
	float:left;
	width:70%;	
}

#ou-region2 {
	float:right;
	width:25%;	
}

body.reports #ou-region1 {width:100%;}

body.reports #ou-region2 {display:none;}

body {
	font-size: 90%;
	font-family:Arial, Helvetica, sans-serif;
	color: #222;
	background-color: #fff;
	line-height:120%;
}

img {
	max-width:100%;
	border:none;
}


a {
	color:#039;
	text-decoration:underline;
}


a:hover {
	color:#000;
	text-decoration:none;
}

hr {
	border: 0;
	border-bottom: 1px solid #ddd;
	margin: 30px 0;
	clear:both;
}


/* Headings */


h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000;
	margin:20px 0 10px 0;
	line-height:120%;
}

h1 {
	font-size: 2.1em; 
	margin:0 0 0 0;
	padding:20px 0;
}

h2 {font-size: 1.8em; margin-bottom:15px;}

h3 {font-size: 1.5em;}

h4 {font-size: 1.3em;}

h5 {font-size: 1.1em; }

h6 {font-size: 1em;}


/* Text */

p {
	margin:0 0 15px 0;
	line-height:1.6em;
}

small {font-size: 90%; color:#666;}


/* Lists */


dl dt {
	font-weight:bold;
	margin-bottom:5px;
}

dl dd {margin-bottom:15px;}



/* Tables */

.ou-table-wrap {overflow: auto;}

table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
}

td, 
th {
	padding: 0.875em 1.5em 0.75em 1.5em;
	border-bottom: 1px solid #a6d0ff;
	border-right: 1px solid #a6d0ff;
}

td a {text-decoration:none;}

tr th:last-child, 
tr td:last-child {border-right: 0;}

th {border-bottom:2px solid #a6d0ff;}

tfoot th {
	border-top: 2px solid #a6d0ff;
	border-bottom:0;
}

th, 
td, 
caption {
	text-align: left;
	vertical-align: top;
}

table tr:nth-child(even) {background: #e7eff7;}

table caption {
	background: #ddd;
	padding: 0.5em;
	font-weight: bold;
	font-size: 1.1em;
	text-align:center;
	border-top: 1px solid #a6d0ff;
	border-bottom: 1px solid #a6d0ff;
}

table th.row-number {width:1em;}

table th.health {min-width:6em;}


/**/

/* Site header */

#ou-site-header {
	background:#f5f5f5;
	margin:0 0 30px 0;
}

#ou-site-header .ou-site-header-content {
	max-width:1180px;
	margin:0 auto;
}



/*
=========================
	Dashboard
=========================
*/

p.active-users {
	float:right;	
	color:#777;
	margin:25px 0 0 0;
	padding:0;
}

p.active-users em {
	font-style:normal;	
	font-weight:bold;
	color:white;
	background-color:#539d3c;
	border-radius:3px;
	padding:2px 5px;
	margin-right:3px;
	display:inline-block;
}


/*
=========================
	Filters
=========================
*/


.filters ul.tabs {
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 1;
}

.filters ul.tabs:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.filters ul.tabs li {
	position: relative;
	float: left;
	margin: 0 10px 0 0;
	line-height: 1;
}

.filters ul.tabs li a {
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 13px 30px 13px 15px;
	position: relative;
	color: #222;
	line-height:130%;
}

.filters ul.tabs li a:hover { color: #000; }

.filters ul.tabs li a.selected:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #333;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top:-2px;
}

.filters ul.tabs li a.selected {
	background-color:#eee;
	border-radius:4px;
}

.filters ul.tabs li a.selected:hover {
	border-radius:4px 4px 0 0;
	background-color:#CF6041;
	color:#fff;
}

.filters ul.tabs li a.selected:hover:after {border-top: 4px solid #fff;}


/* desktop view */

@media screen and (min-width: 768px) {

.filters ul.tabs li:hover > a, 
.filters ul.tabs li > a:hover {
	color: #fff;
	background-color: #CF6041;
	border-radius: 4px;
}

.filters ul.tabs li:hover a.selected:after {border-top: 4px solid #fff;}


}


/* desktop sub menus */

.filters ul.tabs li ul.sub {
	position: absolute;
	float: left;
	display:none;
	width: 250px;
	margin: -4px 0 0 0;
	padding: 10px 0;
	background: #CF6041;
	border-radius: 0 6px 6px 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 999;
}


@media screen and (min-width: 768px) {

.filters ul.tabs li:hover ul.sub {display: block;}

}

.filters ul.tabs li:hover ul.sub {display: block;} /* del */

.filters ul.tabs li.open ul.sub {display: block;}

.filters ul.tabs li ul.sub li {
	clear: left;
	float: none;
	margin: 0;
}

.filters ul.tabs li ul.sub li a {
	float: none;
	margin: 0;
	padding: 10px 15px;
	color: #fff;
	border-radius:0;
}

.filters ul.tabs li ul.sub li a:hover {
	color: #fff;
	background: #C44B35;
}

.filters ul.tabs li ul.sub li a:active {
	color: #fff;
	background: #000;
}


/* mobile view 

@media screen and (max-width: 768px) {

.filters ul.tabs {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	line-height: 1;
}

.filters ul.tabs li {
	position: static;
	margin-bottom:10px;
}

.filters ul.tabs li a {
	white-space: nowrap;
	overflow: hidden;
}

.filters ul.tabs li.open a {
	color: #fff;
	background-color:#CF6041;
	border-radius: 4px;
}

.filters ul.tabs li.open a.selected:after {border-top: 4px solid #fff;}

.filters ul.tabs li a.selected:hover {border-radius:4px;}

.filters ul.tabs li:last-child { margin-right: 0 }

.filters ul.tabs li ul.sub {
	left: 0;
	width: 320px;
	margin-top: -6px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
}

.filters ul.tabs li ul.sub li a {
	padding: 15px;
	border-bottom: 1px solid #fff;
}

.filters ul.tabs li ul.sub li:last-child a {border-bottom: none;}

}*/

/* end Filters */



/*
=========================
	Reports
=========================
*/

span.down {
	color:#B52E25;
	margin-left:10px;
	float:right;
}

span.up {
	color:#539D3C; 
	margin-left:10px;
	float:right;
}

table a i.fa-comment-o {color:black;}


/* Horizontal icon links */

ul.ou-icon-links {
	padding:0;
	margin:0;
}

ul.ou-icon-links li {
	margin-right:15px; 
	display:inline;
}

ul.ou-icon-links li a  {text-decoration:none;}

ul.ou-icon-links li.ou-icon-links-facebook i.fa-circle {color:#3b5998;}
ul.ou-icon-links li.ou-icon-links-twitter i.fa-circle {color:#4099FF;}
ul.ou-icon-links li.ou-icon-links-linkedin i.fa-circle {color:#0e76a8;}
ul.ou-icon-links li.ou-icon-links-youtube i.fa-circle {color:#cd201f;}
ul.ou-icon-links li.ou-icon-links-googleplus i.fa-circle {color:#dd4b39;}


/* incase used in region1 */

#ou-content ul.ou-icon-links {margin:0 0 20px 0;}

#ou-content ul.ou-icon-links li {padding-left:0;}

#ou-content ul.ou-icon-links li:before {content:"";}

#ou-content ul.ou-icon-links.after-h1 {margin-top:-10px;}


/* end horiz icon links */



/* Nav - Paged */

#ou-content .ou-paged p {
	text-align:center;
	color:#777;
}

#ou-content .ou-paged p a {text-decoration:none;}

#ou-content .ou-paged p strong {color:black;}


#ou-content .ou-paged ul,
#ou-content .ou-paged ul li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;	
}

#ou-content .ou-paged ul {
	margin-top:15px;
	text-align:center;
}

#ou-content .ou-paged ul li:before {
	content:"";
}

#ou-content .ou-paged ul li {
	display:inline-block;
	margin:0 10px 0 0;
	zoom: 1;
    *display: inline;
	color:#777;
}

#ou-content .ou-paged ul li:last-child {margin-right:0;}

#ou-content .ou-paged ul li a,
#ou-content .ou-paged ul li strong {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-family: Arial, Helvetica, sans-serif;
	background: #ffc23d;
	color: #0b55a8;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 14px 10px 14px;
	display: inline-block;
	margin-bottom: 15px;
	border: 1px solid #ffc23d;
	cursor: pointer;
	line-height:normal;
}

#ou-content .ou-paged ul li a:hover {
	background-color:#539d3c;
	color:#fff;
	border:1px solid #539d3c;
}

#ou-content .ou-paged ul li strong {
	color:#fff;
	background-color:#0b55a8;
	border:1px solid #0b55a8;
}



/*
=========================
	Feedback
=========================
*/


.feedback-list .feedback-list-item {
	position:relative;
	padding:10px 0 0 50px;
	margin-bottom:20px;	
	border-bottom:1px solid #eee;
}

.feedback-list span.fa-stack {
	position:absolute;
	top:0;
	left:0;	
}

.feedback-list span.negative i.fa-circle {color:#b52a1e;}
.feedback-list span.positive i.fa-circle {color:#539d3c;}
.feedback-list span.bug i.fa-circle {color:#880088;}

.feedback-list h2.feedback-list-title {
	font-size:1em;
	font-weight:bold;
	margin:0 0 10px 0;
}

.feedback-list .feedback-list-title a {text-decoration:none;}

.feedback-list .feedback-list-more {margin-top:-5px;}

a.no-underline {text-decoration:none;}




@media only screen and (max-width: 1180px), screen and (max-device-width: 1180px) {

#ou-header .ou-header-content,
#ou-site-header .ou-site-header-content {
	max-width: none;
	padding: 0 15px;
}

#ou-page {padding:0 15px;}


} /* end media query */


@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {


#ou-region1,
#ou-region2 {width:100%;}


} /* end media query */


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {


h1 {font-size: 1.8em; }

h2 {font-size: 1.6em;}

h3 {font-size: 1.4em;}

h4 {font-size: 1.3em;}

h5 {font-size: 1.1em; }

h6 {font-size: 1em;}


hr {margin: 20px 0;}

p.active-users {margin-top:22px;}


} /* end media query */





